/* Login and signup forms */

.account-form button {
	width: 4rem;
	margin-left: 80px;
}

#signup-form button {
	width: 8rem;
}

.account-forms-container {
	padding-left: 20px;
}

.user-profile {
	padding: 10px 20px 20px;
	font-size: 0.9rem;
}

.user-profile > * {
	margin: 10px 0;
}

#update-user-form button {
	width: 8rem;
}

#update-user-btn,
#submit-update-story-btn {
	margin: 5px 0px 15px 0px;
	width: 8rem;
	padding: 8px;
	border: none;
	cursor: pointer;
	border-radius: 4px;
	color: white;
	background-color: lightslategray;
}

#submit-update-story-btn {
	margin: 5px 0px 20px 65px;
}

#update-user-btn:hover,
#submit-update-story-btn:hover {
	background-color: dimgray;
}

.update-story-btn {
	float: right;
	margin-right: 325px;
	padding: 4px;
	border: none;
	border-radius: 4px;
	color: white;
	background-color: lightslategray;
}

.update-story-btn:hover {
	background-color: dimgray;
}
